body {
  font-family: "Roboto", sans-serif;
  background-color: var(--Charcoal-Grey);
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  max-width: 1440px;
  gap: 80px;
  margin: auto auto;
  background-color: var(--White);
  height: 80vh;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
}
.container .about {
  padding: 60px;
  max-width: 500px;
}
.container h1 {
  font-size: 40px;
  color: var(--Dark-Slate-Grey);
  margin-bottom: 15px;
}
.container .about .text {
  margin-bottom: 20px;
  line-height: 22px;
}
.about ul li {
  display: flex;
  margin-bottom: 10px;
}
.about ul li img {
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 150px;
  position: relative;
}
.form label {
  font-weight: 700;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 7px;
  color: var(--Dark-Slate-Grey);
}
.form .email {
  padding: 15px;
  border-radius: 10px;
  border: solid 1px var(--Grey);
  margin-bottom: 15px;
  outline: none;
  cursor: pointer;
}
.form .email:hover {
  outline: auto;
}

.form .btn-subscribe {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.form .btn-subscribe:hover {
  background: linear-gradient(to right, var(--pink-error), var(--error));
}
.rigth-image img {
  width: 280px;
}
.thanks {
  background-color: var(--White);
  max-width: 430px;
  height: 400px;
  margin: auto auto;
  border-radius: 20px;
  padding: 30px;
  display: none;
}
.thanks h2 {
  font-size: 40px;
  color: var(--Dark-Slate-Grey);
  margin-top: 10px;
}
.thanks p {
  margin-top: 20px;
  line-height: 18px;
}
.thanks button {
  margin-top: 40px;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.thanks button:hover {
  background: linear-gradient(to right, var(--pink-error), var(--error));
}

.form .label-error {
  color: var(--error);
  position: absolute;
  right: 0;
  display: none;
}

.email.error {
  border: 1px solid var(--error);
  background-color: var(--input-error);
}
.email.error::placeholder {
  color: var(--error);
}
